body {
    background-color: #f2f2f2; /* Fond gris clair */
    color: #333; /* Texte noir */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ccc;
}

/* Styles spécifiques à La Plateforme_ */
.la-plateforme {
    background-color: #5a8eff; /* Bleu */
    color: #fff; /* Texte blanc */
}

